@media (max-width: 575.98px) {
    .banner-title{
        font-size : 35px!important;
    }
    .banner-sub{
        font-size: 25px;
        width: 100%!important;
        font-weight:900;
        font-family: 'Fira Sans'!imporant
    }
    .button-container{
        flex-direction: column;
    }
    .content-layer{
        left:0!important;
    }
    #slide-buttons{
        font-size: 46px !important;
        margin-top: 15px!important;
    }
    .bi::before, [class*=" bi-"]::before, [class^=bi-]::before{
        vertical-align: -.25em;
    }
  }
  
  @media (max-width: 767.98px) {
  }
  
  @media (max-width: 991.98px) {
   
  }
  

  